/* line 1, ../sass/marky.sass */
#marky-btn {
  position: fixed;
  font-size: 12px;
  color: white;
  top: 0px;
  right: 200px;
  text-decoration: none;
  background-color: green;
  border: 2px solid #999999;
  border-top: 0px;
  padding: 2px;
  box-sizing: border-box;
}
/* line 13, ../sass/marky.sass */
#marky-btn:hover, #marky-btn.active {
  background-color: yellow;
  color: blue;
}
/* line 16, ../sass/marky.sass */
#marky-btn .marky-expand {
  margin-left: 10px;
}

/* line 18, ../sass/marky.sass */
#marky-text-container {
  display: none;
  position: fixed;
  font-size: 11px;
  color: red;
  top: 0px;
  right: 90px;
  width: auto;
  text-decoration: none;
  border-top: 0px;
  box-sizing: border-box;
}
/* line 31, ../sass/marky.sass */
#marky-text-container input {
  width: 100px;
}

/* line 34, ../sass/marky.sass */
.marky-mark {
  position: fixed;
  display: block;
  right: 0;
  z-index: 100;
  text-decoration: none;
}
/* line 40, ../sass/marky.sass */
.marky-mark .title {
  display: none;
  font-size: 10px;
}
/* line 43, ../sass/marky.sass */
.marky-mark .edge {
  display: inline-block;
  width: 20px;
  height: 5px;
  background-color: red;
}
/* line 48, ../sass/marky.sass */
.marky-mark:hover, .marky-mark.active {
  z-index: 1000;
}
/* line 50, ../sass/marky.sass */
.marky-mark:hover .title, .marky-mark.active .title {
  display: inline;
  margin-right: 3px;
}
/* line 53, ../sass/marky.sass */
.marky-mark:hover .edge, .marky-mark.active .edge {
  width: 30px;
}
