/* line 1, ../sass/marky.sass */
#marky-btn {
  position: fixed;
  font-size: 12px;
  color: white;
  top: 0px;
  right: 200px;
  text-decoration: none;
  background-color: green;
  border: 2px solid #999999;
  border-top: 0px;
  padding: 2px;
  box-sizing: border-box;
}
/* line 13, ../sass/marky.sass */
#marky-btn:hover, #marky-btn.active {
  background-color: yellow;
  color: blue;
}
/* line 16, ../sass/marky.sass */
#marky-btn .marky-expand {
  margin-left: 10px;
}

/* line 18, ../sass/marky.sass */
#marky-text-container {
  display: none;
  position: fixed;
  font-size: 11px;
  color: red;
  top: 0px;
  right: 80px;
  width: auto;
  text-decoration: none;
  background-color: white;
  border: 2px solid #999999;
  border-top: 0px;
  padding: 2px;
  box-sizing: border-box;
}
/* line 32, ../sass/marky.sass */
#marky-text-container input {
  width: 100px;
}

/* line 35, ../sass/marky.sass */
a.marky-mark {
  position: fixed;
  display: block;
  right: 0;
  border-right: 8px solid red;
  z-index: 100;
  width: 3px;
  height: 14px;
  text-decoration: none;
}
/* line 47, ../sass/marky.sass */
a.marky-mark span {
  display: none;
  font-size: 10px;
}
/* line 50, ../sass/marky.sass */
a.marky-mark:hover, a.marky-mark.active {
  z-index: 1000;
  width: auto;
  height: auto;
  outline: 1px solid white;
}
/* line 55, ../sass/marky.sass */
a.marky-mark:hover span, a.marky-mark.active span {
  display: inline;
  margin-right: 2px;
}
