/* line 3, ../sass/page.sass */
.clearfix:after {
  clear: both;
  display: block;
  content: " ";
  height: 0px;
  visibility: hidden;
}

/* line 10, ../sass/page.sass */
.clearfix {
  display: inline-block;
}

/* line 14, ../sass/page.sass */
p.subtitle a {
  color: #0088cc;
  text-decoration: none;
}
/* line 17, ../sass/page.sass */
p.subtitle a:hover {
  text-decoration: underline;
}

/* line 20, ../sass/page.sass */
body {
  background-color: white;
  font-family: "Helvetica Neue";
  font-weight: 200;
  text-align: center;
  margin: 0 auto;
}

/* line 26, ../sass/page.sass */
p {
  line-height: 1.5em;
}

/* line 28, ../sass/page.sass */
article {
  display: block;
  position: relative;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px 0;
}
/* line 34, ../sass/page.sass */
article .container {
  display: block;
  max-width: 700px;
  margin: 0 auto;
  text-align: left;
}

/* line 40, ../sass/page.sass */
ol li {
  margin-bottom: 12px;
  line-height: 1.3em;
}

/* line 44, ../sass/page.sass */
h1, h2 {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}

/* line 49, ../sass/page.sass */
.top img {
  border: 5px solid #727272;
}

/* line 51, ../sass/page.sass */
.bookmarklet {
  background-color: #f2f2f2;
  border-top: 2px solid #b2b2b2;
  border-bottom: 2px solid #b2b2b2;
}

/* line 67, ../sass/page.sass */
a.bookmarklet-btn {
  display: inline-block;
  background-color: #d7e5f5;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d7e5f5), color-stop(100%, #cbe0f5));
  background-image: -webkit-linear-gradient(top, #d7e5f5, #cbe0f5);
  background-image: -moz-linear-gradient(top, #d7e5f5, #cbe0f5);
  background-image: -ms-linear-gradient(top, #d7e5f5, #cbe0f5);
  background-image: -o-linear-gradient(top, #d7e5f5, #cbe0f5);
  background-image: linear-gradient(top, #d7e5f5, #cbe0f5);
  border-top: 1px solid #abbbcc;
  border-left: 1px solid #a7b6c7;
  border-bottom: 1px solid #a1afbf;
  border-right: 1px solid #a7b6c7;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: inset 0 1px 0 0 white, 0 0 10px #0088cc;
  -moz-box-shadow: inset 0 1px 0 0 white, 0 0 10px #0088cc;
  box-shadow: inset 0 1px 0 0 white, 0 0 10px #0088cc;
  color: #1a3e66;
  padding: 6px 10px 7px;
  text-align: center;
  text-shadow: 1px 1px white;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  margin-top: 5px;
}
/* line 90, ../sass/page.sass */
a.bookmarklet-btn:hover {
  background-color: #ccd9e8;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ccd9e8), color-stop(100%, #c1d4e8));
  background-image: -webkit-linear-gradient(top, #ccd9e8, #c1d4e8);
  background-image: -moz-linear-gradient(top, #ccd9e8, #c1d4e8);
  background-image: -ms-linear-gradient(top, #ccd9e8, #c1d4e8);
  background-image: -o-linear-gradient(top, #ccd9e8, #c1d4e8);
  background-image: linear-gradient(top, #ccd9e8, #c1d4e8);
  border-top: 1px solid #a1afbf;
  border-left: 1px solid #9caaba;
  border-bottom: 1px solid #96a3b3;
  border-right: 1px solid #9caaba;
  -webkit-box-shadow: inset 0 1px 0 0 #f2f2f2, 0 0 10px #0077b3;
  -moz-box-shadow: inset 0 1px 0 0 #f2f2f2, 0 0 10px #0077b3;
  box-shadow: inset 0 1px 0 0 #f2f2f2, 0 0 10px #0077b3;
  color: #163659;
  cursor: pointer;
}
