/* line 3, ../sass/page.sass */
.clearfix:after {
  clear: both;
  display: block;
  content: " ";
  height: 0px;
  visibility: hidden;
}

/* line 10, ../sass/page.sass */
.clearfix {
  display: inline-block;
}

/* line 13, ../sass/page.sass */
body {
  background-color: white;
  font-family: "Helvetica Neue";
  font-weight: 200;
  text-align: center;
  margin: 0 auto;
}

/* line 19, ../sass/page.sass */
p {
  line-height: 1.5em;
}

/* line 21, ../sass/page.sass */
article {
  display: block;
  position: relative;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px 0;
}
/* line 27, ../sass/page.sass */
article .container {
  display: block;
  max-width: 700px;
  margin: 0 auto;
  text-align: left;
}

/* line 32, ../sass/page.sass */
h1, h2 {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}

/* line 37, ../sass/page.sass */
.top img {
  border: 5px solid #727272;
}

/* line 39, ../sass/page.sass */
.bookmarklet {
  background-color: #f2f2f2;
  border-top: 2px solid #b2b2b2;
  border-bottom: 2px solid #b2b2b2;
}
/* line 43, ../sass/page.sass */
.bookmarklet a {
  display: inline-block;
  padding: 6px 10px 8px;
  background-color: #999999;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  text-decoration: none;
  color: #00aaff;
  font-weight: bold;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.9);
  -webkit-box-shadow: 0px 2px 10px #777777 inset;
  -moz-box-shadow: 0px 2px 10px #777777 inset;
  box-shadow: 0px 2px 10px #777777 inset;
  border: 1px solid #666666;
}
