#marky-btn
    position: fixed
    font-size: 12px
    color: #fff
    top: 0px
    right: 200px
    text-decoration: none
    background-color: green
    border: 2px solid #999
    border-top: 0px
    padding: 2px
    box-sizing: border-box
    &:hover, &.active
        background-color: yellow
        color: blue
    .marky-expand
        margin-left: 10px
#marky-text-container
    display: none
    position: fixed
    font-size: 11px
    color: red
    top: 0px
    right: 90px
    width: auto
    text-decoration: none
    // background-color: #fff
    // border: 2px solid #999
    border-top: 0px
    box-sizing: border-box
    input
        width: 100px

.marky-mark
    position: fixed
    display: block
    right: 0
    z-index: 100
    text-decoration: none
    .title, .close
        display: none
        font-size: 10px
        line-height: 10px
    .edge
        display: inline-block
        width: 20px
        height: 5px
        background-color: red
    &:hover, &.active
        z-index: 1000
        .title, .close
            display: inline
        .close
            font-family: Courier
            font-weight: bold
            color: #333
            margin-left: 1px
            margin-right: 1px
            &:hover
                color: #666
                cursor: pointer
        .edge
            width: 30px